@charset "UTF-8";
section {
    width: 1040px;
    height: auto;
    padding: 20px;
    margin: 0 auto;
}
table {
	width: 1000px;
	height: auto;
}
table > tr {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
table > tr:hover {
	background-color: skyblue;
	cursor: pointer;
}
table > tr > td {
	border: 1px solid black;
}